/* BOOKING BROWSER
================================================ */
.booking-browser {
    display: none;
}

#days-shown {
    width: 50px;
}

.booking-table-container {
    /* border: 1px solid white; */
    width: 94%;
    border-collapse: collapse;
    font-size: 16px;
}

.week-date-browser {
    font-size: 14px;
    width: 100px;
    text-align: center;
}

.browser-header {
    background-image: linear-gradient(144deg, #008db4, #5B42F3 50%, #AF40FF);
    height: 40px;
}

.rebook-text {
    font-size: 12px;
}

.browser-body tr {
    font-size: 12px;
    height: 50px;
}

.center-cell {
    text-align: center;
    font-size: 15px;
}

.ibutton-style {
    border: 1px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
    background: transparent;
}

.ibutton-style:hover {
    cursor:pointer;
    color: #AF40FF;
}

.browser-rows {
    border-bottom: 1px solid #0c0c0c;
    height: 40px;
}

.browser-rows:hover {
    background-color: #36484a;
}

.browser-rows:nth-child(even) {
    background-color: #2a2a2a;
}

.browser-rows:hover:nth-child(even) {
    background-color: #36484a
}

.lost-employee-booking {
    opacity: 0.5;
}

/* BOOKING COLORS
================================================ */




/* CREATE BOOKING
================================================ */
.create-booking-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.create-booking-driv-container {
    /* border: 1px solid white; */
    width: 90%;
    height: 90%;
    padding-bottom: 20px;
}

.question-container {
    /* border: 1px solid white; */
    display: flex;
    margin: 5px 0;
}

.label-box-container {
    border: 1px solid transparent;
    width: 20%;
    text-align: right;
    padding: 5px 20px;
}

.input-box-container {
    border: 1px solid transparent;
    width: 80%;
    padding: 5px 0;
}

.input-box-form {
    width: 400px;
}

.option-box {
    height: 20px;
    width: 100px;
}

.small-label {
    font-size: 12px;
}

.submit-booking-button-container {
    /* border: 1px solid white; */
    margin-left: 30%;
    width: 30%;
    display: flex;
    justify-content: space-around;
}