/* COLOR SCHEMES 
================================================ */
.color-scheme {
    color: #333333; /* backgrounud color */
    color: #ffffff; /* white text */
    color: #015DA3; /* drak blue */
    color: #0FF0FF; /* cyan blue */
    color: #008db4; /* mid blue */
    color: #7d7d7d; /* light grey hover */
    color: #000000; /* black text when light background */
    color: #c8c8c8; /* lighter gray */
}


/* UNIVERSAL STYLES 
================================================ */
html {
    background-color: #333333;
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

h1 {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(144deg, #0ff0ff, #008db4, #5B42F3 50%, #AF40FF);
}

/* UNIVERSAL LINKS
================================================ */
.universal-links {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.universal-links:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#0ff0ff);
    transition: 100ms;
}

.universal-links:active {
    color: white;
}

/* UNIVERSAL BUTTONS
================================================ */
.universal-button {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#0ff0ff);
    color: white;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.universal-button span {
    background-color: #333;
    /* border: 1px solid white; */
    padding: 3px 55px;
    border-radius: 6px;
    transition: 300ms;
}

.universal-button span:hover {
    background: transparent;
}

.universal-button:active {
    border: 3px solid #333;
    opacity: 0.8;
}

/* UNIVERSAL CHECKBOX
================================================ */
.universal-checkbox {
    display: none;
    margin-top: 10px;
}

.universal-checkmark {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    position: relative;
    margin-top: 10px;
}

.universal-checkbox:checked + .universal-checkmark {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#0ff0ff);
}

.universal-checkmark:after {
    content: "";
    position: absolute;
    left: 3.5px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: roata(45deg);
    transform: rotate(45deg);
}

.universal-label {
    position: relative;
    float: left;
}

/* TOP NAV BAR
================================================ */
.nav-top-container {
    /* border: 1px solid white; */
    align-items: center;
    position: fixed;
    width: 98.5%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 20px 0;
}

.yourlogo-container {
    border: 2px solid #737373;
    position: relative;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.yourlogo-img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.yourlogo-container:hover {
    border: 2px solid #AF40FF;
    background-color: #dadada
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 120px;
    background-color: #ffffff;
    padding: 3px;
    border: 1px solid #dadada;
    border-radius: 5px;
    z-index: 2;
}

.dropdown-menu.active {
    display: block;
}

.dropdown-menu a {
    display: block;
    padding: 3px;
    margin: 5px 0;
    text-decoration: none;
    color: #000000;
    border: 1px solid transparent;
}

#logout-link {
    border-top: 1px solid #7d7d7d;
}

.dropdown-menu a:hover {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#0ff0ff);
    color: white;
}

.page-title {
    /* border: 1px solid white; */
    position: fixed;
    left: 10%;
    font-size: 12px;
}

.thispage-links-container {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.plain-text {
    padding: 0 20px;
    color: #c8c8c8;
}

.visited-link:visited {
    color: #0FF0FF;
}

.searchbar-container {
    /* border: 1px solid white; */
    width: 15%;
    height: 30px;
    background-color: #555555;
    border-radius: 20px;
    display: flex;
}

.searchbar-button {
    border: none;
    border-radius: none;
    background-color: transparent;
    color: white;
    padding: 0 10px;
}

.searchbar-button:hover {
    cursor: pointer;
}

.searchbar-text {
    background: transparent;
    border: none;
    color: white;
}

.searchbar-text:focus {
    outline: none;
}

/* SIDE NAV BAR
================================================ */
#side-bar-nav {
    /* border: 1px solid white; */
    position: fixed;
    height: 90%;
    top: 12%;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#navigation-links-container {
    /* border: 1px solid white; */
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
}

.icon-picture {
    font-size: 20px;
}

.icon-picture.active {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(144deg, #0ff0ff, #008db4, #5B42F3 50%, #AF40FF);
}

.icon-size {
    cursor: pointer;
    transition: transform 0.5s ease, background-image 0.5s ease;
}

.icon-size:hover {
    transform: scale(2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(144deg, #0ff0ff, #008db4, #5B42F3 50%, #AF40FF);
}

.cloud-logo-container {
    /* border: 1px solid white; */
    position: fixed;
    bottom: 1%;
}

#cloud-logo {
    height: 60px;
}

/* MAIN CONTENT CONTAINER
================================================ */
.main-content-container {
    /* border: 1px solid white; */
    position: fixed;
    top: 11%;
    left: 6%;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    background-image: radial-gradient(circle at bottom right, #222, #333, #444, #404040);
    display: flex;
    overflow: scroll;
    z-index: -2;
}

